server {
        listen 443 ssl;
        listen [::]:443 ssl;
        ssl_certificate     ssl/ssl.crt;
        ssl_certificate_key ssl/ssl.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;

        # Everything is a 404
        location / {
                include uwsgi_params;
                uwsgi_pass unix:/var/run/ara.socket;
        }

        # You may need this to prevent return 404 recursion.
        location = /404.html {
                internal;
        }
}
